# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Generated Artifacts
models/*
!models/.gitkeep

experiments/*
!experiments/.gitkeep

reports/figures/*
!reports/figures/.gitkeep

reports/metrics/*
!reports/metrics/.gitkeep